
<h1>{{title}}</h1>
<div class="form-group hidden" id="error-container">
        <div class="text-goes-here">
        </div>
</div>
{{#if error}} 
<div class="error">{{msg}}</div> 
{{/if}} 
<form id="change-password-form" method="POST" action="/user/changepassword"> 
    <label for="oldPasswordInput">Current Password:</label> 
    <input type="password" id="oldPasswordInput" name="oldPasswordInput"> 
    
    <label for="newPasswordInput">New Password:</label> 
    <input type="password" id="newPasswordInput" name="newPasswordInput"> 
    <label for="submitCP">Submit:</label> 
    <button type="submit" id="submitCP">Submit</button> 
</form> 
<a href="/user/account">Click here to return to the account page!</a>
