
<h1>Find a Show</h1> 
    <div class="error-message">
        {{ error }}
    </div>
<form action="/shows/findMenu" method="post">
  <label for="genre">Genre:</label>
  <select id="genre" name="genre" required>
    <option value="">Select a genre</option>
    <option value="Comedy">Comedy</option>
    <option value="History">History</option>
    <option value="Sports">Sports</option>
    <option value="Horror">Horror</option>
    <option value="Adventure">Adventure</option>
    <option value="Crime">Crime</option>
    <option value="Supernatural">Supernatural</option>
    <option value="Action">Action</option>
    <option value="Anime">Anime</option>
    <option value="Science-Fiction">Science-Fiction</option>
    <option value="Drama">Drama</option>
    <option value="Legal">Legal</option>
    <option value="Thriller">Thriller</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Family">Family</option>
    <option value="War">War</option>
    <option value="Medical">Medical</option>
    <option value="Espionage">Espionage</option>
    <option value="Romance">Romance</option>
    <option value="Music">Music</option>
    <option value="Western">Western</option>
    <option value="Mystery">Mystery</option>
  </select>

  <label for="maxRuntime">Maximum Runtime:</label>
  <input type="number" id="maxRuntime" name="maxRuntime" step="" "0.1" min="0" max="1000"required>
  <label for="minAverageRating">Minimum Average Rating:</label>
  <span id="maxRuntimeError" class="error"></span>
  <input type="number" id="minAverageRating" name="minAverageRating" step="0.1" min="0" max="10" required>
  <input type="submit" value="Find Shows">
</form> 
<a href="/">Back to Home</a> 
<script src='../public/js/client_side_validation.js'></script>

