
<main>
    <p>The goal of our website is to provide users with a streamlined process to find new TV Shows to watch! To start, you can either search for a specific show using the Seach Bar, access the list of all TV Shows, or choose the Don't Know What to Watch? Menu to find a show based on your preferences!</p>
    
    <nav>
        <a href="/shows">All TV Shows</a>
    </nav>
    <nav> 
        <a href = "/shows/findmenu">Don't Know What to Watch?</a>
    </nav>
    
</main>
