
<main>
    <p>The goal of our website is to provide users with a streamlined process to find new TV Shows to watch! To start, you can either search for a specific show using the Seach Bar, access the list of all TV Shows, or choose the Don't Know What to Watch? Menu to find a show based on your preferences!</p>
    <nav>
        <a href = "/login"> Log-In </a>
    </nav>
    <a href = "/register"> Create an Account </a>
    <form id="search-form" method="GET" action="/search-results"> 
        <label for="searchTerm">Search for a show:</label> 
        <input type="text" id="searchTerm" name="searchTerm" required> 
        <button type="submit">Search</button> 
    </form> 
    <nav>
        <a href="/shows">All TV Shows</a>
    </nav>
    <nav> 
        <a href = "/shows/findmenu">Don't Know What to Watch?</a>
    </nav>
    
</main>