
<main>
    <h1>TV Show Recommender</h1>
    <p>The goal of our website is to provide users with a streamlined process to find new TV Shows to watch! To start, you can either search for a specific show using the Seach Bar, access the list of all TV Shows, or choose the Don't Know What to Watch? Menu to find a show based on your preferences!</p>
    <a href = '/login'> Log-In </a>
    <a href = '/register'> Create an Account </a>
    <form id=“search-form” method=“GET” action=“/search-results”> 
        <label for=“searchTern”>Search for a show:</label> 
        <input type=“text” id=“searchTerm” name=“searchTerm” required> 
        <button type=“submit”>Search</button> 
    </form> 
    <a href = '/allshows'>All TV Shows</a>
    <a href '/findmenu'>Don't Know What to Watch?</a>
    
</main>